/* ********** @section band classes ********** */
  /*band*/
  /*band--overlay*/
  /*band--tint*/
  /*band--shade*/
/* @close band classes */
.band {
  padding-bottom: var(--spacing-unit--md);
  padding-top: var(--spacing-unit--md);
  @nest &--overlay {
    background-color: var(--shade-overlay);
  }
  @nest &--tint {
    background-color: var(--brand);
    
    border-top: 1px solid var(--brand-shade);
  }
  @nest &--shade {
    background-color: var(--brand-shade);
  }
}