  <footer class="top page__footer" role="banner">
    <div class="copyright footer__half" data-layout="u-1/2@lg">
      {{ partial "copyright.html" . }}
    </div>
    <div class="social footer__half" data-layout="u-1/2@lg">
      {{ partial "socialize" . }}
    </div>
    <div class="footer_whole">
      
    </div>
  </footer>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script> 

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script> 
  </body>
</html>