<a class="twitter-timeline" 
href="https://twitter.com/TPVSports" 
data-widget-id="702261473712603136" 
target="_blank"
data-chrome="noborders transparent"
data-aria-polite="assertive">@TPVSports Tweets</a> 
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>